compose:
  - call: lcod://flow/try@1
    out:
      text: text
      warning: warning
    slots:
      body:
        - call: lcod://contract/core/json/encode@1
          in:
            value: $.value
            sortKeys: true
          out:
            text: encodedText
        - call: lcod://impl/set@1
          in:
            text: $.encodedText
            warning: null
          out:
            text: text
            warning: warning
      catch:
        - call: lcod://impl/set@1
          in:
            text: null
            warning: "Failed to encode JSON value"
          out:
            text: text
            warning: warning
