compose:
  - call: lcod://tooling/value/default_object@0.1.0
    in:
      value: $.normalizedConfig
    out:
      config: resolved

  - call: lcod://tooling/value/is_string_nonempty@0.1.0
    in:
      value: $.projectPath
    out:
      hasProjectPath: ok

  - call: lcod://flow/if@1
    in:
      cond: $.hasProjectPath
    out:
      resolvedProjectPath: projectPath
    slots:
      then:
        - call: lcod://impl/set@1
          in:
            projectPath: $.projectPath
      else:
        - call: lcod://contract/core/runtime/info@1
          in:
            includePlatform: false
            includePid: false
          out:
            runtimeInfo: value
        - call: lcod://impl/set@1
          in:
            projectPath: $.runtimeInfo.cwd

  - call: lcod://tooling/value/is_string_nonempty@0.1.0
    in:
      value: $.cacheRoot
    out:
      hasCacheRoot: ok

  - call: lcod://flow/if@1
    in:
      cond: $.hasCacheRoot
    out:
      resolvedCacheRoot: cacheRoot
    slots:
      then:
        - call: lcod://impl/set@1
          in:
            cacheRoot: $.cacheRoot
      else:
        - call: lcod://impl/set@1
          in:
            cacheRoot: $.resolvedProjectPath

  - call: lcod://contract/core/object/get@1
    in:
      object: $.config
      path:
        - "sources"
    out:
      sourcesValue: value
      sourcesFound: found

  - call: lcod://flow/if@1
    in:
      cond: $.sourcesFound
    out:
      sources: sources
    slots:
      then:
        - call: lcod://tooling/value/default_object@0.1.0
          in:
            value: $.sourcesValue
          out:
            sourcesObject: resolved
        - call: lcod://impl/set@1
          in:
            sources: $.sourcesObject
      else:
        - call: lcod://impl/set@1
          in:
            sources: {}

  - call: lcod://contract/core/object/get@1
    in:
      object: $.config
      path:
        - "replaceAlias"
    out:
      aliasValue: value
      aliasFound: found

  - call: lcod://flow/if@1
    in:
      cond: $.aliasFound
    out:
      replaceAlias: replaceAlias
    slots:
      then:
        - call: lcod://tooling/value/default_object@0.1.0
          in:
            value: $.aliasValue
          out:
            aliasObject: resolved
        - call: lcod://impl/set@1
          in:
            replaceAlias: $.aliasObject
      else:
        - call: lcod://impl/set@1
          in:
            replaceAlias: {}

  - call: lcod://contract/core/object/get@1
    in:
      object: $.config
      path:
        - "replaceSpec"
    out:
      specValue: value
      specFound: found

  - call: lcod://flow/if@1
    in:
      cond: $.specFound
    out:
      replaceSpec: replaceSpec
    slots:
      then:
        - call: lcod://tooling/value/is_object@0.1.0
          in:
            value: $.specValue
          out:
            specIsObject: ok
        - call: lcod://flow/if@1
          in:
            cond: $.specIsObject
          out:
            replaceSpec: replaceSpec
          slots:
            then:
              - call: lcod://contract/core/value/clone@1
                in:
                  value: $.specValue
                out:
                  specClone: value
              - call: lcod://impl/set@1
                in:
                  replaceSpec: $.specClone
            else:
              - call: lcod://impl/set@1
                in:
                  replaceSpec: {}
      else:
        - call: lcod://impl/set@1
          in:
            replaceSpec: {}

  - call: lcod://contract/core/object/get@1
    in:
      object: $.config
      path:
        - "allowlist"
    out:
      allowlistValue: value
      allowlistFound: found

  - call: lcod://flow/if@1
    in:
      cond: $.allowlistFound
    out:
      resolvedAllowlist: allowlist
    slots:
      then:
        - call: lcod://tooling/value/is_array@0.1.0
          in:
            value: $.allowlistValue
          out:
            allowlistIsArray: ok
        - call: lcod://flow/if@1
          in:
            cond: $.allowlistIsArray
          out:
            allowlist: allowlist
          slots:
            then:
              - call: lcod://flow/foreach@1
                in:
                  list: $.allowlistValue
                collectPath: $.entry
                out:
                  rawEntries: results
                slots:
                  body:
                    - call: lcod://tooling/value/is_string_nonempty@0.1.0
                      in:
                        value: $slot.item
                      out:
                        isValid: ok
                    - call: lcod://flow/if@1
                      in:
                        cond: $.isValid
                      out:
                        entry: entry
                      slots:
                        then:
                          - call: lcod://impl/set@1
                            in:
                              entry: $slot.item
                        else:
                          - call: lcod://impl/set@1
                            in:
                              entry: null
                  else: []
              - call: lcod://tooling/array/compact@0.1.0
                in:
                  items: $.rawEntries
                out:
                  filteredAllowlist: values
              - call: lcod://impl/set@1
                in:
                  allowlist: $.filteredAllowlist
            else:
              - call: lcod://impl/set@1
                in:
                  allowlist: null
      else:
        - call: lcod://impl/set@1
          in:
            allowlist: null

  - call: lcod://tooling/value/default_array@0.1.0
    in:
      value: $.warnings
    out:
      baseWarnings: resolved

  - call: lcod://tooling/value/default_array@0.1.0
    in:
      value: $.registryWarnings
    out:
      registryWarnings: resolved

  - call: lcod://tooling/array/concat@0.1.0
    in:
      left: $.baseWarnings
      right: $.registryWarnings
    out:
      mergedWarnings: items

  - call: lcod://impl/set@1
    in:
      projectPath: $.resolvedProjectPath
      cacheRoot: $.resolvedCacheRoot
      sources: $.sources
      replaceAlias: $.replaceAlias
      replaceSpec: $.replaceSpec
      allowlist: $.resolvedAllowlist
      warnings: $.mergedWarnings
