compose:
  - call: lcod://contract/tooling/queue/bfs@1
    in:
      items: $.items
      state: $.state
      maxIterations: $.maxIterations
      visited: $.visited
    out:
      state: state
      visited: visited
      warnings: warnings
      iterations: iterations
