compose:
  - call: lcod://tooling/resolver/register_components@0.1.0
    in:
      specRoot: $.normalizedConfig.specRoot
    out:
      registrationWarnings: warnings
      specSources: sources

  - call: lcod://tooling/value/default_object@0.1.0
    in:
      value: $.specSources
      fallback: {}
    out:
      specSourcesNormalized: resolved

  - call: lcod://tooling/resolver/internal/load-sources@0.1.0
    in:
      projectPath: $.projectPath
      cacheDir: $.cacheDir
      resolverConfig: $.resolverConfig
    out:
      pointerRegistrySources: pointerRegistrySources
      pointerWarnings: pointerWarnings
      sourcesPath: sourcesPath

  - call: lcod://tooling/array/filter_objects@0.1.0
    in:
      items: $.normalizedConfig.registrySources
    out:
      primaryRegistrySources: items

  - call: lcod://tooling/array/filter_objects@0.1.0
    in:
      items: $.pointerRegistrySources
    out:
      pointerRegistrySourcesFiltered: items

  - call: lcod://tooling/array/concat@0.1.0
    in:
      left: $.primaryRegistrySources
      right: $.pointerRegistrySourcesFiltered
    out:
      combinedRegistrySources: items

  - call: lcod://tooling/registry/source/load@0.1.0
    in:
      projectPath: $.projectPath
      sources: $.combinedRegistrySources
    out:
      registrySources: registrySources
      loadWarnings: loadWarnings

  - call: lcod://tooling/registry/index@0.1.0
    in:
      sources: $.registrySources
    out:
      registryRegistries: registryRegistries
      registryEntries: registryEntries
      registryPackages: registryPackages
      indexWarnings: indexWarnings

  - call: lcod://tooling/value/default_object@0.1.0
    in:
      value: $.normalizedConfig
      fallback: {}
    out:
      normalizedConfigResolved: resolved

  - call: lcod://tooling/value/default_object@0.1.0
    in:
      value: $.config
      fallback: {}
    out:
      configResolved: resolved

  - call: lcod://tooling/value/default_array@0.1.0
    in:
      value: $.pointerRegistrySources
      fallback: []
    out:
      pointerRegistrySourcesNormalized: resolved

  - call: lcod://tooling/value/default_array@0.1.0
    in:
      value: $.normalizedWarnings
      fallback: []
    out:
      normalizedWarningsSanitized: resolved

  - call: lcod://tooling/value/default_array@0.1.0
    in:
      value: $.loadWarnings
      fallback: []
    out:
      loadWarningsSanitized: resolved

  - call: lcod://tooling/value/default_array@0.1.0
    in:
      value: $.indexWarnings
      fallback: []
    out:
      indexWarningsSanitized: resolved

  - call: lcod://tooling/value/default_array@0.1.0
    in:
      value: $.registrationWarnings
      fallback: []
    out:
      registrationWarningsSanitized: resolved

  - call: lcod://tooling/value/default_array@0.1.0
    in:
      value: $.pointerWarnings
      fallback: []
    out:
      pointerWarningsSanitized: resolved

  - call: lcod://impl/set@1
    in:
      warningBuckets:
        - $.normalizedWarningsSanitized
        - $.loadWarningsSanitized
        - $.indexWarningsSanitized
        - $.registrationWarningsSanitized
        - $.pointerWarningsSanitized
    out:
      warningBuckets: warningBuckets

  - call: lcod://tooling/resolver/warnings/merge@0.1.0
    in:
      buckets: $.warningBuckets
    out:
      mergedWarnings: warnings

  - call: lcod://impl/set@1
    in:
      normalizedWarnings: $.mergedWarnings
      pointerWarnings: $.pointerWarningsSanitized
      pointerRegistrySources: $.pointerRegistrySourcesNormalized
    out:
      normalizedWarnings: normalizedWarnings
      pointerWarnings: pointerWarnings
      pointerRegistrySources: pointerRegistrySources

  - call: lcod://tooling/value/is_string_nonempty@0.1.0
    in:
      value: $.projectPath
    out:
      hasProjectPath: ok

  - call: lcod://tooling/value/is_string_nonempty@0.1.0
    in:
      value: $.cacheRoot
    out:
      hasCacheRoot: ok

  - call: lcod://flow/if@1
    in:
      cond: $.hasProjectPath
    out:
      projectPath: projectPath
    slots:
      then:
        - call: lcod://impl/set@1
          in:
            projectPath: $.projectPath
          out:
            projectPath: projectPath
      else:
        - call: lcod://impl/set@1
          in:
            projectPath: "."
          out:
            projectPath: projectPath

  - call: lcod://flow/if@1
    in:
      cond: $.hasCacheRoot
    out:
      cacheRoot: cacheRoot
    slots:
      then:
        - call: lcod://impl/set@1
          in:
            cacheRoot: $.cacheRoot
          out:
            cacheRoot: cacheRoot
      else:
        - call: lcod://impl/set@1
          in:
            cacheRoot: $.projectPath
          out:
            cacheRoot: cacheRoot

  - call: lcod://tooling/value/is_array@0.1.0
    in:
      value: $.normalizedConfigResolved.sources
    out:
      normalizedSourcesIsArray: ok

  - call: lcod://tooling/value/is_object@0.1.0
    in:
      value: $.normalizedConfigResolved.sources
    out:
      normalizedSourcesIsObject: ok

  - call: lcod://tooling/value/is_array@0.1.0
    in:
      value: $.configResolved.sources
    out:
      configSourcesIsArray: ok

  - call: lcod://tooling/value/is_object@0.1.0
    in:
      value: $.configResolved.sources
    out:
      configSourcesIsObject: ok

  - call: lcod://impl/set@1
    in:
      contractSources: {}
    out:
      contractSources: contractSources

  - call: lcod://flow/if@1
    in:
      cond: $.normalizedSourcesIsArray
    out:
      contractSources: contractSources
    slots:
      then:
        - call: lcod://impl/set@1
          in:
            contractSources: $.normalizedConfigResolved.sources
          out:
            contractSources: contractSources
      else:
        - call: lcod://flow/if@1
          in:
            cond: $.normalizedSourcesIsObject
          out:
            contractSources: contractSources
          slots:
            then:
              - call: lcod://impl/set@1
                in:
                  contractSources: $.normalizedConfigResolved.sources
                out:
                  contractSources: contractSources
            else:
              - call: lcod://flow/if@1
                in:
                  cond: $.configSourcesIsArray
                out:
                  contractSources: contractSources
                slots:
                  then:
                    - call: lcod://impl/set@1
                      in:
                        contractSources: $.configResolved.sources
                      out:
                        contractSources: contractSources
                  else:
                    - call: lcod://flow/if@1
                      in:
                        cond: $.configSourcesIsObject
                      out:
                        contractSources: contractSources
                      slots:
                        then:
                          - call: lcod://impl/set@1
                            in:
                              contractSources: $.configResolved.sources
                            out:
                              contractSources: contractSources
                        else:
                          - call: lcod://impl/set@1
                            in:
                              contractSources: {}
                            out:
                              contractSources: contractSources


  - call: lcod://core/object/merge@0.1.0
    in:
      left: $.specSourcesNormalized
      right: $.contractSources
    out:
      contractSources: value

  - call: lcod://tooling/value/default_array@0.1.0
    in:
      value: $.normalizedConfigResolved.registrySources
      fallback: []
    out:
      baseRegistrySources: resolved

  - call: lcod://tooling/array/append@0.1.0
    in:
      items: $.baseRegistrySources
      values: $.pointerRegistrySources
    out:
      registrySourcesCombined: items

  - call: lcod://impl/set@1
    in:
      contractOverrides:
        sources: $.contractSources
        registrySources: $.registrySourcesCombined
    out:
      contractOverrides: contractOverrides

  - call: lcod://tooling/value/is_string_nonempty@0.1.0
    in:
      value: $.sourcesPath
    out:
      hasSourcesPath: ok

  - call: lcod://flow/if@1
    in:
      cond: $.hasSourcesPath
    out:
      contractOverrides: contractOverrides
    slots:
      then:
        - call: lcod://core/object/merge@0.1.0
          in:
            left: $.contractOverrides
            right:
              sourcesPath: $.sourcesPath
          out:
            contractOverrides: value
      else:
        - call: lcod://impl/set@1
          in:
            contractOverrides: $.contractOverrides
          out:
            contractOverrides: contractOverrides

  - call: lcod://tooling/value/default_object@0.1.0
    in:
      value: $.contractOverrides
      fallback: {}
    out:
      contractOverridesNormalized: resolved

  - call: lcod://core/object/merge@0.1.0
    in:
      left: $.normalizedConfigResolved
      right: $.contractOverridesNormalized
    out:
      normalizedConfig: value

  - call: lcod://impl/set@1
    in:
      contractSourcesSnapshot: $.contractSources
    out:
      contractSourcesSnapshot: contractSourcesSnapshot

  - call: lcod://contract/tooling/resolver/resolve_dependencies@1
    in:
      projectPath: $.projectPath
      cacheRoot: $.cacheRoot
      normalizedConfig: $.normalizedConfig
      config: $.config
      rootId: $.rootId
      rootDescriptor: $.rootDescriptor
      rootDescriptorText: $.rootDescriptorText
      warnings: $.normalizedWarnings
      loadWarnings: $.loadWarnings
      indexWarnings: $.indexWarnings
      registrationWarnings: $.registrationWarnings
      registrySources: $.registrySources
      registryPackages: $.registryPackages
      registryEntries: $.registryEntries
      registryRegistries: $.registryRegistries
      pointerWarnings: $.pointerWarnings
      pointerRegistrySources: $.pointerRegistrySources
      sourcesPath: $.sourcesPath
      specSources: $.contractSources
    out:
      resolverResult: resolverResult
      warnings: resolveWarnings
