compose:
  - call: lcod://contract/core/runtime/info@1
    out:
      runtimeInfo: runtime

  - call: lcod://tooling/value/is_string_nonempty@0.1.0
    in:
      value: $.cwd
    out:
      hasExplicitCwd: ok

  - call: lcod://tooling/value/is_string_nonempty@0.1.0
    in:
      value: $.runtime.cwd
    out:
      runtimeHasCwd: ok

  - call: lcod://flow/if@1
    in:
      cond: $.hasExplicitCwd
    out:
      baseCwd: baseCwd
    slots:
      then:
        - call: lcod://impl/set@1
          in:
            baseCwd: $.cwd
          out:
            baseCwd: baseCwd
      else:
        - call: lcod://flow/if@1
          in:
            cond: $.runtimeHasCwd
          out:
            baseCwd: baseCwd
          slots:
            then:
              - call: lcod://impl/set@1
                in:
                  baseCwd: $.runtime.cwd
                out:
                  baseCwd: baseCwd
            else:
              - call: lcod://impl/set@1
                in:
                  baseCwd: '.'
                out:
                  baseCwd: baseCwd

  - call: lcod://tooling/value/is_string_nonempty@0.1.0
    in:
      value: $.projectPath
    out:
      hasProjectPath: ok

  - call: lcod://flow/if@1
    in:
      cond: $.hasProjectPath
    out:
      projectRoot: projectRoot
    slots:
      then:
        - call: lcod://tooling/path/is_absolute@0.1.0
          in:
            path: $.projectPath
          out:
            projectIsAbsolute: ok
        - call: lcod://flow/if@1
          in:
            cond: $.projectIsAbsolute
          out:
            projectRoot: projectRoot
          slots:
            then:
              - call: lcod://impl/set@1
                in:
                  projectRoot: $.projectPath
                out:
                  projectRoot: projectRoot
            else:
              - call: lcod://contract/tooling/path/join_chain@1
                in:
                  base: $.baseCwd
                  segments:
                    - $.projectPath
                out:
                  path: projectRoot
      else:
        - call: lcod://impl/set@1
          in:
            projectRoot: $.baseCwd
          out:
            projectRoot: projectRoot

  - call: lcod://tooling/value/is_string_nonempty@0.1.0
    in:
      value: $.cacheDir
    out:
      hasCacheDir: ok

  - call: lcod://flow/if@1
    in:
      cond: $.hasCacheDir
    out:
      cacheDir: cacheDir
    slots:
      then:
        - call: lcod://tooling/path/is_absolute@0.1.0
          in:
            path: $.cacheDir
          out:
            cacheIsAbsolute: ok
        - call: lcod://flow/if@1
          in:
            cond: $.cacheIsAbsolute
          out:
            cacheDir: cacheDir
          slots:
            then:
              - call: lcod://impl/set@1
                in:
                  cacheDir: $.cacheDir
                out:
                  cacheDir: cacheDir
            else:
              - call: lcod://contract/tooling/path/join_chain@1
                in:
                  base: $.projectRoot
                  segments:
                    - $.cacheDir
                out:
                  path: cacheDir
      else:
        - call: lcod://contract/tooling/path/join_chain@1
          in:
            base: $.projectRoot
            segments:
              - '.lcod'
              - 'cache'
          out:
            path: cacheDir

  - call: lcod://contract/tooling/path/join_chain@1
    in:
      base: $.cacheDir
      segments:
        - 'catalogues'
    out:
      path: downloadsRoot
