compose:
  - call: lcod://tooling/value/default_object@0.1.0
    in:
      value: $.target
    out:
      baseObject: resolved

  - call: lcod://tooling/value/default_array@0.1.0
    in:
      value: $.path
    out:
      keyPath: resolved

  - call: lcod://contract/core/object/get@1
    in:
      object: $.baseObject
      path: $.keyPath
    out:
      foundValue: value
      foundFlag: found

  - call: lcod://impl/set@1
    in:
      hasKey: $.foundFlag
      value: $.foundValue
    out:
      hasKey: hasKey
      value: value
