compose:
  - call: lcod://tooling/value/is_object@0.1.0
    in:
      value: $.value
    out:
      isObject: ok
  - call: lcod://flow/if@1
    in:
      cond: $.isObject
    out:
      clone: clone
    slots:
      then:
        - call: lcod://contract/core/value/clone@1
          in:
            value: $.value
          out:
            clonedValue: value
        - call: lcod://impl/set@1
          in:
            clone: $.clonedValue
          out:
            clone: clone
      else:
        - call: lcod://impl/set@1
          in:
            clone: {}
          out:
            clone: clone
