compose:
  - call: lcod://tooling/value/default_object@0.1.0
    in:
      value: $.target
    out:
      baseObject: resolved

  - call: lcod://tooling/value/default_array@0.1.0
    in:
      value: $.path
    out:
      keyPath: resolved

  - call: lcod://contract/core/array/length@1
    in:
      items: $.keyPath
    out:
      pathLength: length

  - call: lcod://flow/if@1
    in:
      cond: $.pathLength
    out:
      object: object
      previous: previous
    slots:
      then:
        - call: lcod://contract/core/object/set@1
          in:
            object: $.baseObject
            path: $.keyPath
            value: $.value
            clone: true
            createMissing: true
          out:
            updatedObject: object
        - call: lcod://impl/set@1
          in:
            object: $.updatedObject
            previous: $.baseObject
          out:
            object: object
            previous: previous
      else:
        - call: lcod://impl/set@1
          in:
            object: $.value
            previous: $.baseObject
          out:
            object: object
            previous: previous

  - call: lcod://impl/set@1
    in:
      object: $.object
      previous: $.previous
    out:
      object: object
      previous: previous
