compose:
  - call: lcod://tooling/value/default_object@0.1.0
    in:
      value: $.value
      fallback: {}
    out:
      source: resolved

  - call: lcod://impl/set@1
    in:
      entries: []
    out:
      entries: entries

  - call: lcod://flow/foreach@1
    in:
      list: $.source
    slots:
      body:
        - call: lcod://tooling/value/default_array@0.1.0
          in:
            value: []
          out:
            entryPair: resolved
        - call: lcod://tooling/array/append@0.1.0
          in:
            items: $.entryPair
            values:
              - $slot.key
              - $slot.value
          out:
            entryPair: items
        - call: lcod://tooling/array/append@0.1.0
          in:
            items: $.entries
            values:
              - $.entryPair
          out:
            entries: items

  - call: lcod://impl/set@1
    in:
      entries: $.entries
    out:
      entries: entries
